.App {
  text-align: center;
  background: #f9faf7;
  min-height: 100vh;
  min-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  padding: 4% 8%
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

h4 {
  color: #df1f1d;
}

p {
  color: #8c8c8c;
  white-space: pre;
}

p.MuiTypography-body1 {
  margin-bottom: 40px;
}

.doodle {
  display: none;
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .doodle {
    flex: 1;
    padding: 5rem;
    display: inline;
  }
}

.selected-border {
  position: absolute;
  z-index: 2;
}

.hover-overlay {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

@media only screen and (any-hover: hover) {
  .selected-border:hover~.hover-overlay, .hover-overlay:hover {
    opacity: 1;
  }
}

@media only screen and (any-hover: none) {
  .selected-border:active~.hover-overlay, .hover_overlay:active {
    opacity: 1;
  }
}

.smoothie-shading {
  position: absolute;
  z-index: 3;
  left: 17px;
  bottom: 7px;
}

.smoothie-base {
  position: absolute;
  z-index: 2;
  left: 13px;
  bottom: 7px;
}

.smoothie-image {
  position: relative;
  left: 31px;
  margin-top: 12px;
  margin-bottom: 14px;
}

.cup-top {
  position: absolute;
  z-index: 1;
}

.MuiTypography-caption {
  color: #df1f1d;
  display: block;
  align-self: center;
}

.MuiButton-root.smoothie-button {
  width: 344px;
  height: 48;
  background-color: #df1f1d;
  color: #f9faf7;
  margin-top: 40px;
}

.MuiButton-root.smoothie-button:hover {
  background-color: #df1f1d;
  color: #f9faf7;
}

.MuiButton-root.smoothie-button.disabled {
  background-color: rgba(166, 148, 148, 0.5);
  color: #f9faf7;
}

.MuiButton-root.smoothie-button.disabled:hover {
  background-color: rgba(166, 148, 148, 0.5);
  color: #f9faf7;
}
