.App {
  text-align: center;
  background: #f9faf7;
  min-height: 100vh;
  min-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.side-by-side {
  display: flex;
  justify-content: center;
  padding: 2% 8%
}

.side-by-side>div {
  text-align: left;
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: #df1f1d;
}

p {
  color: #8c8c8c;
  white-space: pre;
}

.doodle {
  display: none;
}

@media only screen and (min-width: 768px) {
  .doodle {
    display: inline;
  }
}

.selected-border {
  position: absolute;
  z-index: 2;
}

.hover-overlay {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.selected-border:hover~.hover-overlay, .hover-overlay:hover {
  opacity: 1;
}

.smoothie-shading {
  position: absolute;
  z-index: 3;
  left: 17px;
  bottom: 7px;
}

.smoothie-base {
  position: absolute;
  z-index: 2;
  left: 13px;
  bottom: 7px;
}

.smoothie-image {
  position: relative;
}

.cup-top {
  position: absolute;
  z-index: 1;
}

.MuiTypography-caption {
  color: #df1f1d;
  display: block;
}